
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Yesmovies - Watch FREE Movies Online & TV shows</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}" type="image/x-icon"/>
    <meta http-equiv="content-language" content="en"/>
    <meta name="description" content="Watch movies online free. Watch series online. Over 9000 free streaming movies, documentaries & TV shows"/>
    <meta name="keywords" content="watch movies free online, watch series online, watch movies free, movies online free, watch free movies online, free movies online, watch movies online free, free movie streaming"/>
    <!-- link rel="canonical" href="https://yesmovies.to/yes.html"/ -->
    <!--
    <meta property="og:type" content="website"/>
    <meta property="og:image:width" content="650"/>
    <meta property="og:image:height" content="350"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:url" content="images/capture.jpg"/>
    <meta property="og:url" content="https://yesmovies.to/yes.html"/>
    <meta property="og:title" content="Yesmovies - Watch FREE Movies Online & TV shows"/>
    <meta property="og:description" content="Watch movies online free. Watch series online. Over 9000 free streaming movies, documentaries & TV shows"/>
    <meta property="og:site_name" content="yesmovies.to"/>
    <meta property="og:updated_time" content="1510110665"/>
    <meta property="fb:app_id" content="112442846029494"/>   -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main25.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/all.min05.css')}}" type="text/css" />
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.cookie.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/md5.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/yesmovies.v2.2.14.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/star-rating.js')}}"></script>
    <script src="{{url_for('static', filename='js/detectmobilebrowser.js')}}"></script>
    
</head>
<body data-ts="1510354732" id="body-search">

<div id="toggle-xsidebar"><i class="icon-shining5"></i><span>What's hot?</span></div>
<!-- xsidebar -->
<div id="xsidebar">
    <div class="xside-content">
        <!--feed-->
        <div class="xsblock xc-feed">
            <div class="x-list-shadow"></div>
            <div class="sb-xtitle"><i class="fa fa-clock-o mr5"></i>Schedule Today</div>
            <div class="clearfix"></div>
            <div class="film-type-list xlist">
                                        <div class="ftl-item">
                            <a href="https://yesmovies.to/movie/marvels-inhumans-season-1-22054.html"
                               class="ftl-thumb"
                               title="Marvel's Inhumans - Season 1">
                                <img src="https://img.yescdn.ru/2017/09/26/poster/6fc9cc321011ea348a2d68c1e1515d4b-marvels-inhumans-season-1.jpg"
                                     title="Marvel's Inhumans - Season 1"
                                     alt="Marvel's Inhumans - Season 1">
                            </a>
                            <div class="info">
                                <h5 class="ftli-title">
                                    <a href="https://yesmovies.to/movie/marvels-inhumans-season-1-22054.html"
                                       title="Marvel's Inhumans - Season 1">Marvel's Inhumans - Season 1</a>
                                </h5>
                                <p class="desc">
                                    After a military coup, the Inhuman Royal Family escape to Hawaii where they must find a way to reunite ...                                </p>
                                <a href="https://yesmovies.to/movie/marvels-inhumans-season-1-22054.html"
                                   class="btn btn-success btn-xs">
                                    <i class="fa fa-play mr5"></i> Episode 08</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                                            <div class="ftl-item">
                            <a href="https://yesmovies.to/movie/macgyver-season-2-22056.html"
                               class="ftl-thumb"
                               title="MacGyver - Season 2">
                                <img src="https://img.yescdn.ru/2017/09/26/poster/09b37c2fae6a705ebc67e5a7f4a71931-macgyver-season-2.png"
                                     title="MacGyver - Season 2"
                                     alt="MacGyver - Season 2">
                            </a>
                            <div class="info">
                                <h5 class="ftli-title">
                                    <a href="https://yesmovies.to/movie/macgyver-season-2-22056.html"
                                       title="MacGyver - Season 2">MacGyver - Season 2</a>
                                </h5>
                                <p class="desc">
                                    Season 2 begins with MacGyver, using a cell phone and a soccer ball, searching for a Navy SEAL who is ...                                </p>
                                <a href="https://yesmovies.to/movie/macgyver-season-2-22056.html"
                                   class="btn btn-success btn-xs">
                                    <i class="fa fa-play mr5"></i> Episode 07</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                                </div>
        </div>
        <!--/feed-->
        <!--subscrible-->
        <div class="xc-subs">
            <div class="xc-subs-content">
                <div class="sb-xtitle"><i class="icon-notify mr5"></i>Subscribe</div>
                <div class="clearfix"></div>
                <p class="desc text-left">Subscribe to the Yes!Movies mailing list to receive updates on movies,
                    tv-series and news of top movies.</p>
                <form id="subscribe-form">
                    <div class="ubc-input">
                        <i class="icon-email"></i>
                        <input type="email" class="form-control" name="email" id="subscribe-email"
                               placeholder="Enter your email">
                        <span id="error-subscribe" class="help-block error-message"></span>
                        <span style="display: none;" id="success-subscribe" class="help-block">Thank you for subscribing!</span>
                    </div>
                    <button id="subscribe-submit" onclick="subscribe()" type="button"
                            class="btn btn-block btn-success btn-approve">
                        Subscribe
                    </button>
                    <div class="clearfix"></div>
                </form>
                <div style="display: none; background: transparent;" id="subscribe-loading" class="cssload-center">
                    <div class="cssload"><span></span></div>
                </div>
            </div>
        </div>
        <!--/subscrible-->
    </div>
</div>
<!--/xsidebar -->
<div id="xmain"
     class="">
    <!--header-->
    <header>
    <div class="container">
        <div class="header-logo">
            <h1>
                <a title="Watch Movies Online Free - YesMovies.to" href="https://yesmovies.to/yes.html"
                   id="logo">Watch Movies Online Free - YesMovies.to</a>
            </h1>
        </div>
        <div class="mobile-menu"><i class="fa fa-reorder"></i></div>
        <div class="mobile-search"><i class="fa fa-search"></i></div>
        <div id="menu">
            <ul class="top-menu">
                <li>
                    <a href="https://yesmovies.to/" title="Home">
                        <i class="icon-house158"></i><span class="li-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Genre">
                        <i class="icon-play111"></i><span class="li-text">Genre</span>
                    </a>
                    <div class="sub-container" style="display: none">
                        <ul class="sub-menu">
                            <li>
                                <a href="https://yesmovies.to/genre/action.html" title="Action">Action</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/adventure.html" title="Adventure">Adventure</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/animation.html" title="Animation">Animation</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/biography.html" title="Biography">Biography</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/comedy.html" title="Comedy">Comedy</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/costume.html" title="Costume">Costume</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/crime.html" title="Crime">Crime</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/documentary.html" title="Documentary">Documentary</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/drama.html" title="Drama">Drama</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/family.html" title="Family">Family</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/fantasy.html" title="Fantasy">Fantasy</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/history.html" title="History">History</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/horror.html" title="Horror">Horror</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/kungfu.html" title="Kungfu">Kungfu</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/musical.html" title="Musical">Musical</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/mystery.html" title="Mystery">Mystery</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/mythological.html" title="Mythological">Mythological</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/psychological.html" title="Psychological">Psychological</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/romance.html" title="Romance">Romance</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/sci-fi.html" title="Sci-Fi">Sci-Fi</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/sitcom.html" title="Sitcom">Sitcom</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/sport.html" title="Sport">Sport</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/thriller.html" title="Thriller">Thriller</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/tv-show.html" title="TV Show">TV Show</a>
                            </li>
                            <li>
                                <a href="https://yesmovies.to/genre/war.html" title="War">War</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <li>
                    <a href="#" title="Country">
                        <i class="icon-earth208"></i><span class="li-text">Country</span>
                    </a>
                    <div class="sub-container" style="display: none">
                        <ul class="sub-menu">
                            <li><a href="https://yesmovies.to/country/asia.html" title="Asia">Asia</a></li>
                            <li><a href="https://yesmovies.to/country/china.html" title="China">China</a></li>
                            <li><a href="https://yesmovies.to/country/euro.html" title="Euro">Euro</a></li>
                            <li><a href="https://yesmovies.to/country/france.html" title="France">France</a></li>
                            <li><a href="https://yesmovies.to/country/hongkong.html" title="HongKong">HongKong</a></li>
                            <li><a href="https://yesmovies.to/country/india.html" title="India">India</a></li>
                            <li><a href="https://yesmovies.to/country/international.html" title="International">International</a></li>
                            <li><a href="https://yesmovies.to/country/japan.html" title="Japan">Japan</a></li>
                            <li><a href="https://yesmovies.to/country/korea.html" title="Korea">Korea</a></li>
                            <li><a href="https://yesmovies.to/country/taiwan.html" title="Taiwan">Taiwan</a></li>
                            <li><a href="https://yesmovies.to/country/thailand.html" title="Thailand">Thailand</a></li>
                            <li><a href="https://yesmovies.to/country/united-kingdom.html" title="United Kingdom">United Kingdom</a></li>
                            <li><a href="https://yesmovies.to/country/united-states.html" title="United States">United States</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
                <li>
                    <a href="https://yesmovies.to/movie/filter/series.html" title="TV-Series">
                        <i class="icon-live_tv"></i><span class="li-text">TV-Series</span>
                    </a>
                </li>
                <li>
                    <a href="https://yesmovies.to/top-imdb/all.html" title="Top IMDb">
                        <i class="icon-golf32"></i><span class="li-text">Top IMDb</span>
                    </a>
                </li>
                <li>
                    <a href="https://yesmovies.to/news.html" title="News">
                        <i class="icon-rss56"></i><span class="li-text">News</span>
                    </a>
                </li>
                <li onclick="go_request_page()">
                    <a href="javascript:void(0)" title="Request">
                        <i class="icon-pencil113"></i><span class="li-text">Request</span>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="top-user">

        </div>
        <div id="search">
            <div class="search-content">
                <input autocomplete="off" name="keyword" type="text" class="form-control search-input"
                       placeholder="Searching..."/>
                <div id="token-search"></div>
                <a onclick="searchMovie()" class="search-submit" href="javascript:void(0)" title="Search"><i
                        class="fa fa-search"></i></a>

                <div class="search-suggest" style="display: none;"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</header>

{% block content %} {% endblock %}

</div>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-select.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.smooth-scroll.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.lazyload.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.hover-intent.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.qtip.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/perfect-scrollbar.jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/detectmobilebrowsercdn.js')}}"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-588f55488b3c5e2e"></script -->
</body>
</html>







