
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Yesmovies - Watch FREE Movies Online & TV shows</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="https://yesmovies.to/assets/images/favicon.png" type="image/x-icon"/>
    <meta http-equiv="content-language" content="en"/>
    <meta name="description" content="Watch movies online free. Watch series online. Over 9000 free streaming movies, documentaries & TV shows"/>
    <meta name="keywords" content="watch movies free online, watch series online, watch movies free, movies online free, watch free movies online, free movies online, watch movies online free, free movie streaming"/>
    <link rel="canonical" href="https://yesmovies.to/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image:width" content="650"/>
    <meta property="og:image:height" content="350"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:url" content="https://yesmovies.to/assets/images/capture.jpg?v=1"/>
    <meta property="og:url" content="https://yesmovies.to/"/>
    <meta property="og:title" content="Yesmovies - Watch FREE Movies Online & TV shows"/>
    <meta property="og:description" content="Watch movies online free. Watch series online. Over 9000 free streaming movies, documentaries & TV shows"/>
    <meta property="og:site_name" content="yesmovies.to"/>
    <meta property="og:updated_time" content="1509933650"/>
    <meta property="fb:app_id" content="112442846029494"/>
    <link rel="stylesheet" href="https://cdn.yescdn.ru/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.yescdn.ru/css/main.css?v=2.5" type="text/css" />
<link rel="stylesheet" href="https://cdn.yescdn.ru/css/all.min.css?v=0.5" type="text/css" />
<link rel="stylesheet" href="https://cdn.yescdn.ru/css/home.css" type="text/css" />
<script type="text/javascript" src="https://cdn.yescdn.ru/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/jquery.cookie.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/md5.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.yescdn.ru/js/yesmovies.v2.2.min.js?v=1.4"></script> -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-78478338-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    <script src="https://yesmovies.to/assets/js/detectmobilebrowser.js"></script>
    <script>
        var _ad = true;
        var loc = window.location;
        var temp = loc.pathname.split('/');
        temp = temp[2];
        var bad_urls = ['love-and-hip-hop-atlanta-season-3-15818', 'resurrection-22412', 'the-promise-21212', 'hailey-dean-mystery-dating-is-murder-22357'];
        if (bad_urls.indexOf(temp) >= 0) {
            _ad = false;
        }
        if (!jQuery.browser.mobile) {
            window.$zopim || (function (d, s) {
                var z = $zopim = function (c) {
                    z._.push(c)
                }, $ = z.s =
                    d.createElement(s), e = d.getElementsByTagName(s)[0];
                z.set = function (o) {
                    z.set._.push(o)
                };
                z._ = [];
                z.set._ = [];
                $.async = !0;
                $.setAttribute("charset", "utf-8");
                $.src = "https://v2.zopim.com/?56V663knDZylkLaMYbywDYk2rqLIArrV";
                z.t = +new Date;
                $.type = "text/javascript";
                e.parentNode.insertBefore($, e)
            })(document, "script");

            if (_ad) {
                var protag = document.createElement('script');
                protag.setAttribute('type', 'text/javascript');
                protag.setAttribute('src', '//go.onclasrv.com/apu.php?zoneid=1157578');
                document.head.appendChild(protag);
            }
        } else {
            if (_ad) {
                var link = jQuery(document),
                    url = "https://onclkds.com/afu.php?zoneid=1157578",
                    capping_freq = 3,
                    capping_hours = 12;

                link.on("click", function (e) {
                    if (e.isTrigger !== undefined && e.isTrigger) {
                        return;
                    }
                    if (!$.cookie('y-pop-today')) {
                        var expires_date = new Date();
                        expires_date.setTime(expires_date.getTime() + (capping_hours * 60 * 60 * 1000));
                        $.cookie('y-pop-today', true, {
                            expires: expires_date,
                            path: '/'
                        });
                        localStorage.setItem("y_count_pop_ads", 1);
                        z();
                    } else {
                        var n = localStorage.getItem("y_count_pop_ads");
                        if (n < capping_freq && !$.cookie('y-pop-ads')) {
                            localStorage.setItem("y_count_pop_ads", parseInt(n) + 1);
                            z();
                        }
                    }

                    function z() {
                        e.preventDefault();
                        var d = new Date(),
                            _d = Date.now();
                        d.setTime(d.getTime() + (30 * 1000));
                        $.cookie("y-pop-ads", true, {
                            expires: d,
                            path: '/'
                        });
                        $(document.body).append('<a href="' + url + '" id="opnntb' + _d + '" target="_blank"></a>');
                        _('#opnntb' + _d);
                    }

                    function _(id) {
                        var ele = document.querySelector(id);
                        var click_ev = document.createEvent("MouseEvent");
                        click_ev.initEvent("click", false /* bubble */, true /* cancelable */);
                        ele.dispatchEvent(click_ev);
                    }
                });
            }
        }
    </script>

</head>
<body data-ts="1509933650" id="body-search">
<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '112442846029494',
            cookie: true,  // enable cookies to allow the server to access
            xfbml: true,  // parse social plugins on this page
            version: 'v2.6' // use graph api version 2.6
        });
    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="main"
     class="main-wrap-home">
    <!--header-->
    <div id="bh-header">
    <div id="bhh-menu">
        <ul class="top-menu">
            <li class="active"><a href="{{url_for('Genre')}}" title="HOME">HOME</a></li>
            <li><a href="https://yesmovies.to/movie/filter/movies.html" title="MOVIES">MOVIES</a></li>
            <li><a href="https://yesmovies.to/movie/filter/series.html" title="TV-SERIES">TV-SERIES</a></li>
            <li><a href="https://yesmovies.to/news.html" title="NEWS">NEWS</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!--/header-->
<div class="header-pad"></div>

    <!--/header-->
    <!-- main -->
    <div id="main" class="main-wrap-home">
    <div class="container">
        <div class="home-main">
            <div class="hm-logo"><a href="{{url_for('Genre')}}" title=""></a></div>
            <div class="mb10">
                <div class="addthis_inline_share_toolbox"></div>
            </div>
            <div id="hm-search">
                <div class="search-content">
                    <input maxlength="100" autocomplete="off" name="keyword-home" class="form-control search-input"
                           placeholder="Enter Movies or Series name" type="text">
                    <a onclick="search_home()" class="search-submit" href="javascript:void(0)" title="Search"><i
                            class="fa fa-search"></i></a>
                    <div style="display: none;" class="search-suggest" id="search-suggest-home"></div>
                </div>
            </div>
            <div class="hm-button"><a href="{{url_for('Genre')}}" class="btn btn-lg btn-success">Use the old Yesmovies? Click here</a></div>
        </div>
    </div>
</div>

    <!--/main -->
    <!--footer-->
    <div id="footer">
    <div id="footer-home">
        <div class="container">
            <div class="home-footer small text-center">Copyright © yesmovies.to. All Rights Reserved</div>
        </div>
    </div>
</div>

    <!--/footer-->
</div>
<div class="clearfix"></div>
<div id="auth-modal">
    <!-- Modal -->
    <div class="modal fade modal-cuz" id="pop-auth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-tabs">
                <ul id="md-list" class="nav nav-tabs" role="tablist">
                    <li class="active"><a id="tab-login" href="#modal-login" role="tab" data-toggle="tab"><i
                                    class="icon-perm_identity mr5"></i><strong>Login</strong></a></li>
                    <li><a id="tab-register" href="#modal-register" role="tab" data-toggle="tab"><i
                                    class="icon-add_circle_outline mr5"></i><strong>Register</strong></a></li>
                    <li class="pull-right"><a class="close" data-dismiss="modal" aria-label="Close"><i
                                    class="icon-clear"></i></a></li>
                </ul>
            </div>
            <div class="modal-content tab-content">
                <div id="modal-login" class="tab-pane in fade active">
                    <div class="modal-body">
                        <!--                        <div class="cuz-login-social">-->
                        <!--                            <p class="desc text-center">Log in with your Facebook account.</p>-->
                        <!--                            <div class="cls-list mt10">-->
                        <!--                                <a href="-->
                        <? //= site_url('user/login_fb?return_url=' . current_url()) ?><!--"-->
                        <!--                                   class="btn btn-block btn-facebook"><i-->
                        <!--                                        class="fa fa-facebook-square mr10"></i>Facebook</a>-->
                        <!--                                <a href="-->
                        <? //= site_url('user/login_gg?return_url=' . current_url()) ?><!--"-->
                        <!--                                   class="btn btn-block btn-google"><i class="fa fa-google-plus-square mr10"></i>Google+</a>-->
                        <!--                                <div class="clearfix"></div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <p class="desc text-center mb10">- Or use your Yesmovies account.</p>-->
                        <form id="login-form" method="post">
                            <div class="block">
                                <input required type="text" class="form-control" name="username" id="username"
                                       placeholder="Username">
                            </div>
                            <div class="block mt10">
                                <input required type="password" class="form-control" name="password" id="password"
                                       placeholder="Password">
                            </div>
                            <div class="alert alert-danger error-message" id="error-message"></div>
                            <div class="block mt20 small">
                                <label><input type="checkbox" class="mr5"> Remember me</label>
                                <div class="pull-right">
                                    <a data-toggle="tab" id="open-forgot"
                                       href="#modal-forgot"
                                       title="Forgot password?">Forgot password?</a>
                                </div>
                            </div>
                            <button type="submit" id="login-submit" class="btn btn-block btn-success btn-approve mt10">
                                Login
                            </button>
                            <div style="display: none;" id="login-loading" class="cssload-center">
                                <div class="cssload"><span></span></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        Not a member yet? <a id="toggle-register" title="Join now!"><strong>Join now!</strong></a>
                    </div>
                </div>
                <div id="modal-register" class="tab-pane in fade">
                    <div class="modal-body">
                        <p class="desc">When becoming members of the site, you could use the full range of functions and
                            enjoy the most exciting films.</p>
                        <form id="register-form" method="post">
                            <div class="block">
                                <input required type="text" class="form-control" name="full_name" id="full_name"
                                       placeholder="Full name">
                            </div>
                            <div id="error-full_name" class="alert alert-danger error-message"></div>
                            <div class="block">
                                <input required type="text" class="form-control" name="username" id="username"
                                       placeholder="Username">
                            </div>
                            <div id="error-username" class="alert alert-danger error-message"></div>
                            <div class="block">
                                <input required type="email" class="form-control" name="email" id="email"
                                       placeholder="Email">
                            </div>
                            <div id="error-email" class="alert alert-danger error-message"></div>
                            <div class="block">
                                <input required type="password" class="form-control" name="password" id="password"
                                       placeholder="Password">
                            </div>
                            <div id="error-password" class="alert alert-danger error-message"></div>
                            <div class="block">
                                <input required type="password" class="form-control" name="confirm_password"
                                       id="confirm_password"
                                       placeholder="Confirm Password">
                            </div>
                            <div id="error-confirm_password" class="alert alert-danger error-message"></div>
                            <button id="register-submit" type="submit"
                                    class="btn btn-block btn-success btn-approve mt20">Register
                            </button>
                            <div style="display: none;" id="register-loading" class="cssload-center">
                                <div class="cssload"><span></span></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <a href="javascript:void(0)" id="toggle-login" title="Back to login"><i
                                    class="fa fa-chevron-left mr10"></i> Back to login</a>
                    </div>
                </div>
                <div id="modal-forgot" class="tab-pane in fade">
                    <div class="modal-body">
                        <p class="desc">We will send authorize code to your email. Please fill your email to form
                            below.</p>
                        <form id="forgot-form">
                            <div class="block mt10">
                                <input type="email" class="form-control" name="email" id="Email"
                                       placeholder="Your email">
                            </div>
                            <div style="display: none;" id="forgot-success-message" class="alert alert-success"></div>
                            <div style="display: none;" id="forgot-error-message" class="alert alert-danger"></div>
                            <button id="forgot-submit" type="submit" class="btn btn-block btn-success btn-approve mt20">
                                Submit
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <a data-toggle="tab" href="#modal-login" title="Back to login">
                            <i class="fa fa-chevron-left mr10"></i> Back to login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ modal -->
</div>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/bootstrap-select.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/jquery.smooth-scroll.min.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/jquery.hover-intent.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.yescdn.ru/js/detectmobilebrowser.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-588f55488b3c5e2e"></script>
</body>
</html>
